@charset "utf-8";

body.load {
    #wrapAll {
        @include trans(opacity, 200ms);
        opacity: 1;
    }
}

#wrapAll {
    overflow: hidden;
    padding-top: 0px;
    min-width: 1000px;
    opacity: 0;
    position: relative;
    z-index: 1;
    background-color: #F2F2F2;
    padding-top: 70px;

    @include media(tbsp) {
        min-width: 0;
        padding-top:63px;
        &.sptop{
            padding-top: 0;
        }
    }
}

div.head {
    .head_wrap {
        @include content_width;
    }
}

main {
    padding-bottom: 60px;
    @include content_width;

    @include media(tbsp) {
        padding: 0;
    }

    #content {
        display: table;
        width: 100%;

        .content {
            display: table-cell;
            vertical-align: top;

            &.l {
                width: 20%;
                min-width: 200px;
                padding-right: 20px;
            }

            &.r {
                width: 20%;
                min-width: 200px;
                padding-left: 20px;

                h2.box_ttl {
                    @include font($jp, 14px, 1.1, 0em, 700);
                    margin-bottom: 20px;

                }
            }

            &.c {
                .box {
                    @include shadow_m;
                    margin-bottom: 20px;

                    ul.list {
                        >li {
                            padding-bottom: 15px;
                            margin-bottom: 0px;
                        }
                    }



                    .box_wrap {
                        padding: 20px;
                        border-bottom:0.5px solid #E8E8E8;
                    }
                }

                #content_body {}

                #content_body_sub {
                    display: table;
                    width: 100%;
                }
            }

            .box {

                background-color: $white;
                background-color: #fff;
                &.addpd{
                    padding-bottom: 30px;
                }

                .box_wrap {
                    padding: 15px;
                    padding-bottom: 0;


                }

                .box_wrap2 {
                    padding: 10px 20px;
                }
            }
        }
    }
}



h2.box_ttl {
    @include font($jp, 18px, 1.1, 0em, 700);
    margin-bottom: 20px;
    margin-top: 10px;

    @include media(tbsp) {
        @include font($jp, 15px, 1.1, 0em, 700);
        &.pl15{
            padding-left: 15px;
        }
    }

}

ul.list {
    _height: 1px;
    min-height: 1px;
    font-size: 0;

    &:after {
        height: 0;
        visibility: hidden;
        content: ".";
        display: block;
        clear: both;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
    }

    &.bb {
        li {
            border-bottom: 1px solid $border;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &.mbs {
        li {
            margin-bottom: 10px;
            padding-bottom: 0;
        }
    }

    &.col2 {
        display: flex;
        flex-wrap: wrap;
        >li {
            width: calc((100% - 10px) /2);
            box-sizing: border-box;
            margin-right: 10px;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }

    &.col4 {
        display: flex;
        flex-wrap: wrap;
        >li {
            width: calc((100% - 30px) /4);
            box-sizing: border-box;
            margin-right: 10px;
            &:nth-child(4n){
                margin-right: 0;
            }
        }
    }
    &.col5 {
        display: flex;
        flex-wrap: wrap;
        >li {
            width: calc((100% - 40px) /5);
            box-sizing: border-box;
            margin-right: 10px;
            &:nth-child(5n){
                margin-right: 0;
            }
        }
    }

    >li {
        padding-bottom: 10px;
        margin-bottom: 10px;
        @include media(tbsp) {
            margin-bottom: 25px;
        }
    }

    .pic {
        margin-bottom: 8px;
    }
}

ul.list {
    &.rank {
        >li {
            position: relative;

            &:first-child {
                width: 100%;
            }

            &:before {
                content: '';
                position: absolute;
                top: -20px;
                left: -10px;
                z-index: 20;
                @include svg_img(70px, 70px, '/assets/img/common/rank1.png', '/assets/img/common/rank1.svg');
            }

            &:after {
                content: "1";
                @include font($jp, 20px, 1, 0em, 700);
                color: $white;
                position: absolute;
                z-index: 30;
                top: 1px;
                left: 19px;
            }

            &:nth-child(1) {
                width: 100%;

                &:before {
                    @include svg_img(80px, 80px, '/assets/img/common/rank1.png', '/assets/img/common/rank1.svg');
                }

                &:after {
                    @include font($jp, 22px, 1, 0em, 700);
                    top: 4px;
                    left: 24px;
                }
            }

            &:nth-child(2) {
                &:before {
                    @include svg_img(70px, 70px, '/assets/img/common/rank2.png', '/assets/img/common/rank2.svg');
                }

                &:after {
                    content: "2";
                }
            }

            &:nth-child(3) {
                &:before {
                    @include svg_img(70px, 70px, '/assets/img/common/rank3.png', '/assets/img/common/rank3.svg');
                }

                &:after {
                    content: "3";
                }
            }

            &:nth-child(4) {
                &:before {
                    @include svg_img(70px, 70px, '/assets/img/common/rank4.png', '/assets/img/common/rank4.svg');
                }

                &:after {
                    content: "4";
                }
            }

            &:nth-child(5) {
                &:before {
                    @include svg_img(70px, 70px, '/assets/img/common/rank4.png', '/assets/img/common/rank4.svg');
                }

                &:after {
                    content: "5";
                }
            }
        }
    }
}


main.template {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include media(tb) {
        width: 92.8%;
    }

    >* {
        margin-bottom: 10px;
    }
}

a.hv {
    @include media(pc) {
        &:hover {
            span {
                opacity: 0.5;
            }
        }
    }

    span {
        @include trans(opacity, 200ms);
    }
}

.op {
    @include trans(opacity, 200ms);

    @include media(pc) {
        &:hover {
            opacity: 0.5;
        }
    }
}

.btn {
    display: inline-block;
    border-radius: 3px;
    @include shadow_s;
    box-sizing: border-box;
    @include trans(background-color, 200ms);

    &.b {
        background-color: $blue;

        @include media(pc) {
            &:hover {
                background-color: $bluegray;
            }
        }

        span {
            color: $white;
        }
    }

    &.b2 {
        background-color: $blue2;

        @include media(pc) {
            &:hover {
                background-color: $bluegray;
            }
        }

        span {
            color: $white;
        }
    }

    &.g {
        background-color: $bluegray;

        @include media(pc) {
            &:hover {
                background-color: $gray;
            }
        }

        span {
            color: $white;
        }
    }

    &.p {
        background-color: $pink;

        @include media(pc) {
            &:hover {
                background-color: $gray;
            }
        }

        span {
            color: $white;
        }
    }

    &.bw {
        background-color: $white;
        border: 1px solid $blue;
        color:$blue;

        @include media(pc) {
            &:hover {
                background-color: $bluegray;
                border: 1px solid $bluegray;

                span {
                    color: $white;

                    &:before {
                        background-image: url(/assets/img/common/ico/bookmark_w.png) !important;
                        background-image: url(/assets/img/common/ico/bookmark_w.svg) !important;
                    }
                }
            }
        }

        span {
            color: $blue;
            @include trans(color, 200ms);

            &:before {
                @include trans(background-image, 200ms);
            }
        }
    }

    &.no_shadow {
        @include no_shadow;
    }

    &.btn_ms {
        @include shadow_blue;
        padding: 0;
        width: 148px;
        text-align: center;

        span {
            @include font($jp, 14px, 38px, 0.14em, 500);
        }
    }

    &.btn_m {
        @include shadow_blue;
        padding: 0;
        width: 178px;
        text-align: center;

        @include media(tbsp) {
            width: 148px;
        }

        span {
            @include font($jp, 14px, 38px, 0.14em, 500);
        }
    }

    &.btn_l {
        @include shadow_blue;
        padding: 0;
        width: 348px;
        text-align: center;

        @include media(tbsp) {
            width: 100%;
        }

        span {
            @include font($jp, 17px, 58px, 0.14em, 500);

            @include media(tbsp) {
                @include font($jp, 18px, 50px, 0.14em, 500);
            }
        }

        &.g {
            @include shadow_s;
        }
    }

    &.header_btn {
        padding: 0 20px;

        &.ico {
            padding: 0 10px;

            @include media(tbsp) {
                padding: 0 8px;
            }

            span {
                padding-left: 34px;

                &:before {
                    content: '';
                    @include svg_img(25px, 25px, '/assets/img/common/ico/mypage_w.png', '/assets/img/common/ico/mypage_w.svg');
                }
            }

            &.mypage {
                span {
                    &:before {
                        @include svg_img(25px, 25px, '/assets/img/common/ico/mypage_w.png', '/assets/img/common/ico/mypage_w.svg');
                    }
                }
            }
        }

        span {
            @include font($jp, 13px, 36px, 0.07em, 700);
        }
    }

    &.map_btn {
        border-radius: 2px;
        padding: 0 10px;

        span {
            @include font($jp, 14px, 32px, 0.05em, 700);
        }
    }

    &.map_btn2 {
        border-radius: 2px;
        padding: 0 10px;

        span {
            @include font($jp, 13px, 32px, 0.05em, 700);
        }
    }

    &.tag_btn {
        border-radius: 2px;
        padding: 0 10px;

        span {
            @include font($jp, 13px, 27px, 0.05em, 700);
        }
    }

    &.like_btn {
        padding: 0;
        width: 100%;
        text-align: center;
        @include shadow_ss;

        span {
            padding-left: 25px;
            margin-left: -10px;
            @include font($jp, 13px, 28px, 0em, 500);

            &:before {
                content: '';
                @include svg_img(20px, 20px, '/assets/img/common/ico/like_w.png', '/assets/img/common/ico/like_w.svg');
            }
        }
    }

    &.bookmark_btn {
        padding: 0;
        width: 100%;
        text-align: center;
        @include shadow_ss;

        span {
            padding-left: 25px;
            @include font($jp, 13px, 35px, 0em, 500);

            &:before {
                content: '';
                @include svg_img(20px, 20px, '/assets/img/common/ico/bookmark_w.png', '/assets/img/common/ico/bookmark_w.svg');
            }
        }
    }

    &.review_btn {
        padding: 0 20px;
        @include shadow_ss;

        &.ico {
            padding: 0 10px;

            @include media(tbsp) {
                padding: 0 8px;
            }

            span {
                padding-left: 23px;

                &:before {
                    content: '';
                    @include svg_img(20px, 20px, '/assets/img/common/ico/review_w.png', '/assets/img/common/ico/review_w.svg');
                }
            }
        }

        span {
            @include font($jp, 13px, 30px, 0em, 500);
        }
    }

    &.review_btn2 {
        padding: 0;
        width: 100%;
        text-align: center;
        @include shadow_ss;

        &.ico {
            span {
                padding-left: 35px;

                &:before {
                    content: '';
                    @include svg_img(26px, 26px, '/assets/img/common/ico/review_w.png', '/assets/img/common/ico/review_w.svg');
                }
            }
        }

        span {
            @include font($jp, 16px, 44px, 0.1em, 500);
        }
    }

    &.reserve_move_btn {
        @include shadow_blue;
        padding: 0 60px;

        span {
            @include font($jp, 17px, 57px, 0.14em, 500);
        }
    }

    &.review_back_btn {
        padding: 0 20px;
        border-radius: 2px;
        @include no_shadow;

        span {
            @include font($jp, 16px, 35px, 0.1em, 600);
        }
    }

    &.registration_btn {
        @include shadow_blue;
        padding: 0 52px;

        @include media(tbsp) {
            padding: 0;
            width: 100%;
            text-align: center;
        }

        span {
            @include font($jp, 20px, 50px, 0.14em, 500);

            @include media(tbsp) {
                @include font($jp, 20px, 50px, 0.14em, 500);
            }
        }
    }

    &.btn_m2 {
        @include shadow_blue;
        padding: 0 40px;

        span {
            @include font($jp, 18px, 52px, 0.14em, 500);
        }
    }

    &.reserve_btn {
        @include shadow_ss;
        padding: 0 44px;
        padding: 0 20px;

        span {
            @include font($jp, 17px, 60px, 0em, 500);
            @include font($jp, 17px, 40px, 0em, 500);
            padding-left: 30px;

            &:before {
                content: '';
                @include svg_img(25px, 25px, '/assets/img/common/ico/reserve_w.png', '/assets/img/common/ico/reserve_w.svg');
            }
        }
    }

    &.edit_btn {
        @include shadow_blue;
        padding: 0 10px;

        span {
            @include font($jp, 15px, 36px, 0em, 500);
        }
    }

    &.upload_btn {
        @include no_shadow;
        padding: 0 16px;

        span {
            @include font($jp, 15px, 38px, 0.04em, 500);
        }
    }

    &.detail_btn {
        padding: 0 6px;
        @include shadow_ss;

        @include media(tbsp) {
            padding: 0;
            width: 100%;
            text-align: center;
        }

        &.ico {
            span {
                padding-left: 22px;

                @include media(tbsp) {
                    padding-left: 30px;
                }

                &:before {
                    content: '';
                    @include svg_img(25px, 25px, '/assets/img/common/ico/reserve_w.png', '/assets/img/common/ico/reserve_w.svg');
                }
            }

            &.reserve {
                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/reserve_w.png', '/assets/img/common/ico/reserve_w.svg');

                        @include media(tbsp) {
                            @include svg_img(25px, 25px, '/assets/img/common/ico/reserve_w.png', '/assets/img/common/ico/reserve_w.svg');
                        }
                    }
                }
            }

            &.site {
                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/site_w.png', '/assets/img/common/ico/site_w.svg');

                        @include media(tbsp) {
                            @include svg_img(25px, 25px, '/assets/img/common/ico/site_w.png', '/assets/img/common/ico/site_w.svg');
                        }
                    }
                }
            }

            &.tel {
                padding: 0 10px 0 6px;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/tel_w.png', '/assets/img/common/ico/tel_w.svg');

                        @include media(tbsp) {
                            @include svg_img(25px, 25px, '/assets/img/common/ico/tel_w.png', '/assets/img/common/ico/tel_w.svg');
                        }
                    }
                }
            }
            &.mail {
                padding: 0 10px 0 6px;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/mail_bl.png', '/assets/img/common/ico/mail_bl.svg');

                        @include media(tbsp) {
                            @include svg_img(18px, 18px, '/assets/img/common/ico/mail_bl.png', '/assets/img/common/ico/mail_bl.svg');
                        }
                    }
                }
            }
            &.line {
                padding: 0 10px 0 6px;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/line_g.png', '/assets/img/common/ico/line_g.svg');

                        @include media(tbsp) {
                            @include svg_img(18px, 18px, '/assets/img/common/ico/line_g.png', '/assets/img/common/ico/line_g.svg');
                        }
                    }
                }
            }
            &.bookmark {
                &.g {
                    span {

                        &:before {
                            @include svg_img(20px, 20px, '/assets/img/common/ico/bookmark_w.png', '/assets/img/common/ico/bookmark_w.svg');

                            @include media(tbsp) {
                                @include svg_img(25px, 25px, '/assets/img/common/ico/bookmark_w.png', '/assets/img/common/ico/bookmark_w.svg');
                            }
                        }
                    }
                }

                span {
                    @include media(tbsp) {
                        padding-left: 24px;
                    }
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/bookmark_bl2.png', '/assets/img/common/ico/bookmark_bl2.svg');

                        @include media(tbsp) {
                            @include svg_img(25px, 25px, '/assets/img/common/ico/bookmark_bl2.png', '/assets/img/common/ico/bookmark_bl2.svg');
                        }
                    }
                }
            }
            &.address {
                padding: 0 8px 0 4px;
                span {
                    padding-left: 17px;
                    &:before {
                        top: 12px;
                        @include svg_img(15px, 15px, '/assets/img/common/ico/address_w.png', '/assets/img/common/ico/address_w.png');
                    }
                }
            }
        }

        span {
            @include font($jp, 13px, 26px, 0em, 500);

            @include media(tbsp) {
                @include font($jp, 14px, 40px, 0.1em, 500);
            }
        }
    }

    &.sns_btn {
        background-color: #ccc;
        border-radius: 2px;
        @include shadow_ss;
        padding: 0 8px;
        @include trans(opacity, 200ms);

        @include media(pc) {
            &:hover {
                opacity: 0.5;
            }
        }

        &.ico {
            span {
                padding-left: 22px;

                &:before {
                    content: '';
                    @include svg_img(25px, 25px, '/assets/img/common/ico/sns-ig_w.png', '/assets/img/common/ico/sns-ig_w.svg');
                }
            }

            &.ig {
                background-image: url(/assets/img/common/insta_grad.png);
                background-size: 100% auto;
                background-position: center;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/sns-ig_w.png', '/assets/img/common/ico/sns-ig_w.svg');
                    }
                }
            }

            &.tw {
                background-color: #4BA0EB;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/sns-tw_w.png', '/assets/img/common/ico/sns-tw_w.svg');
                    }
                }
            }

            &.fb {
                background-color: #3C5A99;

                span {
                    &:before {
                        @include svg_img(20px, 20px, '/assets/img/common/ico/sns-fb_w.png', '/assets/img/common/ico/sns-fb_w.svg');
                    }
                }
            }
        }

        span {
            @include font($jp, 14px, 30px, 0em, 500);
            color: $white;
        }
    }

    span {
        display: inline-block;
        text-align: center;
        position: relative;
    }

    &.ico {
        span {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                @include transform(0%, -50%);
                backface-visibility: hidden;
                transform-style: preserve-3d;
            }
        }
    }
}

.sns_login {
    display: inline-block;
    width: 305px;
    // text-align: center;
    position: relative;
    @include trans(opacity, 200ms);

    @include media(pc) {
        &:hover {
            opacity: 0.5;
        }
    }

    @include media(sp) {
        width: 100%;
    }

    span {
        @include font($jp, 16px, 54px, 0.1em, 400);
        color: $white;
        padding-left: 64px;

        @include media(sp) {
            @include font($jp, 14px, 54px, 0.1em, 400);
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 5px;
            @include transform(0%, -50%);
            backface-visibility: hidden;
            transform-style: preserve-3d;
            @include media(tbsp) {
                left:15px;
            }
        }
    }

    &.line {
        background-color: #00B900;

        span {
            &:before {
                @include svg_img(40px, 40px, '/assets/img/common/login-ico-line.png', '/assets/img/common/login-ico-line.svg');
            }
        }
    }

    &.tw {
        background-color: #1DA1F2;

        span {
            &:before {
                @include svg_img(40px, 40px, '/assets/img/common/login-ico-tw.png', '/assets/img/common/login-ico-tw.svg');
            }
        }
    }

    &.fb {
        background-color: #4267B2;

        span {
            &:before {
                @include svg_img(40px, 40px, '/assets/img/common/login-ico-fb.png', '/assets/img/common/login-ico-fb.svg');
            }
        }
    }
}

.breadcrumb_wrap {
    @include media(tbsp) {
        padding: 5px 15px;
    }

    a,
    span {
        @include font($jp, 10px, 33px, 0em, 400);
        color: $gray;
        display: inline;
        vertical-align: top;
        @include media(tbsp) {
            @include font($jp, 10px, 14px, 0em, 400);
        }
    }

    a {
        &:after {
            content: '＞';
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.sp_head {
    padding: 15px;
    background-color: $white;
    box-sizing: border-box;

    h1 {
        margin-bottom: 15px;
    }
}

div.score {
    display: table;

    &.l {
        div.score_left {
            width: 150px;
            @include media(tbsp) {
                width: 130px;
            }
        }

        div.score_right {
            a.txt {
                @include font($jp, 12px, 1, 0.05em, 500);
            }

            span {
                @include font($jp, 22px, 2, 0.05em, 700);
            }
        }
    }

    &.m {
        div.score_left {
            width: 120px;
        }

        div.score_right {
            a.txt {
                @include font($jp, 11px, 1, 0.05em, 500);
            }

            span {
                @include font($jp, 15px, 2, 0.05em, 700);
                vertical-align: middle;
            }
        }
    }

    div.score_left {
        display: table-cell;
        vertical-align: middle;
        width: 98px;

        .score_box {
            position: relative;
            background-color: #BEBEBE;

            .val {
                height: 100%;
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                background-color: $blue2;
            }

            .score_cover {
                position: relative;
                z-index: 10;

                &.score_cover_bg {

                    &:before,
                    &:after {
                        background-color: #F2F2F2;
                    }
                }

                &:before {
                    content: '';
                    width: 100%;
                    background-color: #fff;
                    height: 4px;
                    top: -2px;
                    left: 0;
                    position: absolute;
                    z-index: 10;
                }

                &:after {
                    content: '';
                    width: 100%;
                    background-color: #fff;
                    height: 4px;
                    bottom: -2px;
                    left: 0;
                    position: absolute;
                    z-index: 10;
                }

                img {
                    display: block;
                    position: relative;
                    z-index: 0;
                    width: 100%;
                    height: auto;
                }

            }
        }
    }

    div.score_right {
        display: table-cell;
        vertical-align: middle;
        padding-left: 5px;

        span {
            @include font($jp, 12px, 2, 0.05em, 700);
            color: $blue2;
        }

        a.txt {
            display: inline-block;
            margin-left: 5px;
            position: relative;
            color: $gray;
            @include font($jp, 10px, 1, 0.05em, 500);

            &:after {
                content: '';
                width: 100%;
                height: 1px;
                bottom: 0px;
                left: 0;
                position: absolute;
                background-color: $gray;
            }

            @include media(pc) {
                &:hover {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        a.arr {
            @include svg_img(20px, 20px, '/assets/img/common/ico/arr_01_bl.png', '/assets/img/common/ico/arr_01_bl.svg');
            display: inline-block;
            vertical-align: middle;
            @include origin(center, center);
            @include transform_rotate(0%, 0%, 0deg);
            @include trans(all, 200ms);

            &.op {
                @include transform_rotate(0%, 0%, 180deg);
            }
        }
    }
}

.lead {
    @include font($jp, 28px, 42px, 0.02em, 700);

    @include media(tbsp) {
        @include font($jp, 18px, 1.6, 0em, 700);

    }

    @include media(sp) {
        @include font($jp, 18px, 1.6, 0em, 700);

    }
}

.ttl {
    &.l {
        @include font($jp, 20px, 1.1, 0em, 700);
    }

    &.m {
        @include font($jp, 14px, 1.1, 0em, 700);
    }

    &.s {
        @include font($jp, 12px, 1.1, 0em, 700);
    }
}

.tit {
    &.l {
        @include font($jp, 18px, 29px, 0.03em, 700);

        @include media(tbsp) {
            @include font($jp, 15px, 22px, 0.03em, 700);

        }
    }
    &.ml {
        @include font($jp, 15px, 29px, 0.03em, 700);

        @include media(tbsp) {
            @include font($jp, 14px, 22px, 0.03em, 700);

        }
    }
    &.m {
        @include font($jp, 13px, 20px, 0em, 700);
        margin: 2px 0px;
    }

    &.s {
        @include font($jp, 12px, 1.5, 0em, 500);
    }

    &.xs {
        @include font($jp, 12px, 1.5, 0em, 500);
    }
}

.txt {
    text-align: justify;
    word-break: break-all;
    &.l {
        @include font($jp, 13px, 22px, 0em, 500);
    }

    &.m {
        @include font($jp, 12px, 20px, 0em, 400);

        @include media(tbsp) {
            @include font($jp, 12px, 20px, 0em, 500);

        }
    }

    &.s {
        @include font($jp, 11px, 17px, 0em, 400);
    }

    &.xs {
        @include font($jp, 10px, 15px, 0em, 400);
    }
    &.tac{
        text-align: center;
    }
}

.search_tit {
    @include font($jp, 16px, 1, 0.05em, 500);
    @include media(tbsp) {
      @include font($jp, 14px, 1, 0.05em, 700);
    }
    span {
        @include font($jp, 16px, 1, 0.05em, 700);
    }
}

.price {
    @include font($jp, 18px, 1, 0em, 700);
    @include media(tbsp) {
      @include font($jp, 16px, 1, 0em, 700);
    }
    color: $pink;
}

.blue {
    color: $blue;
}

.blue2 {
    color: $blue2;
}

.pink {
    color: $pink;
}

.gray {
    color: $gray;
}

.gray2 {
    color: $gray2;
}

.point_ttl {
    &.l {
        span {
            @include font($jp, 20px, 29px, 0.03em, 700);
            color: $blue2;
            display: block;
            position: relative;
            padding-left: 12px;
            @include media(tbsp) {
                padding-left: 15px;
                @include font($jp, 18px, 29px, 0.03em, 700);
            }

            &:before {
                content: '';
                width: 6px;
                height: 80%;
                top: 10%;
                left: 0;
                position: absolute;
                background-color: $blue;
            }
        }
    }

    &.m {
        span {
            @include font($jp, 12px, 18px, 0.05em, 700);
            color: $blue2;
            display: block;
            position: relative;
        }
    }
}

.tag {
    @include font($jp, 11px, 1, 0em, 500);
    background-color: $blue;
    color: $white;
    padding: 2px 8px;
    border-radius: 2px;
    box-sizing: border-box;

    &.bw {
        color: $blue !important;
        background-color: $white;
        border: 1px solid $blue;
    }

    &.l {
        @include font($jp, 12px, 1, 0em, 700);
        border-radius: 0;
        padding: 8px;
        @include media(tbsp) {
          @include font($jp, 11px, 1, 0em, 700);
        }
    }
}

p.pr {
    padding-left: 40px;
    position: relative;

    span.tag {
        position: absolute;
        top: 3px;
        left: 0;
    }
}

dl.user {
    display: table;
    width: 100%;
    margin-bottom: 3px;

    &.l {
        dt {
            width: 40px;
            padding-right: 18px;
            @include media(tbsp) {
                width: 66px;
            }
        }

        dd {
            span {
                @include font($jp, 15px, 26px, 0em, 700);
                @include media(tbsp){
                    display: block;
                }
            }
        }
    }

    &.m {
        dt {
            width: 29px;
            padding-right: 10px;
        }

        dd {
            span {
                @include font($jp, 13px, 20px, 0em, 400);
            }
        }
    }

    dt,
    dd {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
    }

    dt {
        width: 26px;
        padding-right: 6px;

        div.user_icon {
            span {
                display: block;
                @include bg_cover;
                border-radius: 100%;
                overflow: hidden;

                &:before {
                    content: '';
                    @include img_ratio(100%);
                }
            }
        }
    }
　
    dd {
        span {
            @include font($jp, 11px, 15px, 0em, 400);

            span {
                margin-left:10px;
                @include font($jp, 10px, 13px, 0em, 400);
            }
        }
    }
}

.thum_area {
    @include font($jp, 10px, 1.9, 0em, 500);
    color: $gray;
    position: relative;
    display: block;
    padding-left: 18px;
    @include media(tbsp) {
        font-size: 11px;
    }
    &.l {
        @include media(tbsp) {
            padding-left: 25px;
            @include font($jp, 12px, 2.2, 0em, 400);

            &:before {
                top: 5px;
                @include svg_img(18px, 18px, '/assets/img/common/ico/address_g.png', '/assets/img/common/ico/address_g.svg');
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        @include svg_img(15px, 15px, '/assets/img/common/ico/address_g.png', '/assets/img/common/ico/address_g.svg');
    }
}

.thum_yen {
    @include font($jp, 10px, 1.9, 0em, 500);
    color: $gray;
    position: relative;
    display: block;
    padding-left: 18px;
    @include media(tbsp) {
        font-size: 11px;
    }
    &.l {
        @include media(tbsp) {
            padding-left: 25px;
            @include font($jp, 12px, 2.2, 0em, 400);
            &:before {
                top: 5px;
                @include svg_img(11px, 11px, '/assets/img/common/ico/yen.png', '/assets/img/common/ico/yen.svg');
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 2px;
        @include svg_img(12px, 12px, '/assets/img/common/ico/yen.png', '/assets/img/common/ico/yen.svg');
    }
}

.thum_station {
    @include font($jp, 10px, 1.9, 0em, 500);
    color: $gray;
    position: relative;
    display: block;
    padding-left: 18px;

    &.l {
        @include media(tbsp) {
            padding-left: 25px;
            @include font($jp, 12px, 2.2, 0em, 400);

            &:before {
                top: 5px;
                @include svg_img(18px, 18px, '/assets/img/common/ico/station_g.png', '/assets/img/common/ico/station_g.svg');
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        @include svg_img(15px, 15px, '/assets/img/common/ico/station_g.png', '/assets/img/common/ico/station_g.svg');
    }
}

.thum_time {
    @include font($jp, 10px, 1.9, 0em, 500);
    color: $gray;
    position: relative;
    display: block;
    padding-left: 16px;

    &.l {
        @include media(tbsp) {
            padding-left: 18px;
            @include font($jp, 12px, 2.2, 0em, 400);

            &:before {
                top: 5px;
                @include svg_img(18px, 18px, '/assets/img/common/ico/time_g.png', '/assets/img/common/ico/time_g.svg');
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        @include svg_img(15px, 15px, '/assets/img/common/ico/time_g.png', '/assets/img/common/ico/time_g.svg');
    }
}

.more {
    display: inline-block;

    @include media(pc) {
        &:hover {
            span {
                color: $pink;

                &:before {
                    @include svg_img(21px, 21px, '/assets/img/common/ico/arr_02_p.png', '/assets/img/common/ico/arr_02_p.svg');
                }
            }
        }
    }

    &.poa {
        position: absolute;
        right: -7px;
        top: -3px;
    }

    &.poa2 {
        position: absolute;
        right: -7px;
        top: -5px;
        @include media(tbsp) {
            top: 3px;
        }
    }

    span {
        @include font($jp, 10px, 15px, 0em, 700);
        color: $blue2;
        display: inline-block;
        padding-right: 20px;
        position: relative;
        @include media(tbsp) {
            @include font($jp, 12px, 15px, 0em, 700);
        }

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 55%;
            @include transform_rotate(0%, -50%, -90deg);
            @include origin(center, center);
            @include svg_img(21px, 21px, '/assets/img/common/ico/arr_02_bl.png', '/assets/img/common/ico/arr_02_bl.svg');
        }
    }
}

a {
    @include media(pc) {
        &:hover {
            div.pic {
                &.thum {
                    &:before {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

div.pic {
    position: relative;

    &.thum {
        &:before {
            content: '';
            @include trans(opacity, 200ms);
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            opacity: 0;
            display: block;
        }

        &:after {
            content: '';
            @include trans(background, 200ms);
        }
    }

    span.tag {
        position: absolute;
        z-index: 5;
        top: 5px;
        left: 5px;
    }

    span.bgi {
        display: block;
        @include bg_cover;
        &.studio-icon {
            background-size: contain;
        }
        position: relative;
        z-index: 0;

        &.r46 {
            &:before {
                @include img_ratio(46%);
            }
        }

        &.r63 {
            &:before {
                @include img_ratio(63%);
            }
        }

        &.r75 {
            &:before {
                @include img_ratio(75%);
            }
        }

        &:before {
            content: '';
            @include img_ratio(100%);
        }
    }
}

.txt_bnr {
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    @include shadow_s;
    position: relative;

    &.s {
        @include no_shadow;

        div.pic {
            span {
                &:before {
                    @include img_ratio(40%);
                }
            }
        }

        span.txt {
            span {
                @include font($jp, 11px, 1.5, 0.05em, 700);
            }
        }
    }

    @include media(pc) {
        &:hover {
            &:before {
                opacity: 0.5;
            }
        }
    }

    &:before {
        content: '';
        @include trans(opacity, 200ms);
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        opacity: 0;
        display: block;
    }

    &:after {
        content: '';
        @include trans(background, 200ms);
    }

    div.pic {
        position: relative;
        z-index: 0;
        margin-bottom: 0;

        span {
            &:before {
                @include img_ratio(30%);

                @include media(tbsp) {
                    @include img_ratio(56%);
                }
            }
        }
    }

    span.txt {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0%;
        left: 0;
        z-index: 10;
        @include flex_m;

        span {
            width: 100%;
            display: block;
            @include font($jp, 18px, 22px, 0.05em, 700);
            @include text_shadow;
            color: $white;

            @include media(tbsp) {
                @include font($jp, 15px, 22px, 0.05em, 700);
            }
        }
    }
}

// h2.box_ttl {
//     margin-bottom: 30px;
// }

// h2.sbox_ttl {
//     margin-bottom: 20px;
// }

.keyword_list {


    a {
        display: inline-block;
        border: 1px solid #E8E8E8;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-right: 15px;
        margin-bottom: 15px;


        @include media(pc) {
            &:hover {
                span {
                    color: $pink;
                }
            }
        }

        span {
            @include font($jp, 12px, 26px, 0em, 500);
            display: inline;
            position: relative;
        }
    }
}

ul {
    li {


        a {
            display: block;

            @include media(pc) {
                &:hover {
                    * {
                        color: $pink;

                        &.thum_area {
                            &:before {
                                @include svg_img(15px, 15px, '/assets/img/common/ico/address_p.png', '/assets/img/common/ico/address_p.svg');
                            }
                        }
                    }
                }
            }

            * {
                @include trans(color, 200ms);
                display: block;

                &.thum_area {
                    &:before {
                        @include trans(background, 200ms);
                    }
                }
            }
        }
    }
}

.fl_box {
    display: table;
    width: 100%;
    &.w{
        background-color: #fff;
        padding:20px;
        box-sizing: border-box;
    }
    .fl {
        display: table-cell;
        vertical-align: middle;

        &.vat {
            vertical-align: top;
        }

        &.vab {
            vertical-align: bottom;
        }
    }
}

div.accordion_box {
    border-bottom: 1px solid $border2;

    &:last-child {
        border-bottom: none;
    }

    div.accordion_wrap {
        padding: 5px 15px;

        div.accordion_head {
            cursor: pointer;

            &.cl {
                &:after {
                    @include transform_rotate(0%, -50%, 0deg);
                }
            }
        }

        div.accordion_head {
            padding: 10px 0;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                display: block;
                @include origin(center, center);
                @include transform_rotate(0%, -50%, 0deg);
                @include trans(all, 200ms);
                top: 57%;
                right: -3px;
                opacity: 0.4;
                @include svg_img(18px, 18px, '/assets/img/common/ico/arr_03_g.png', '/assets/img/common/ico/arr_03_g.svg');
            }
            &.active{
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    @include origin(center, center);
                    @include transform_rotate(0%, -50%, 180deg);
                    @include trans(all, 200ms);
                    top: 57%;
                    right: -3px;
                    opacity: 0.4;
                    @include svg_img(18px, 18px, '/assets/img/common/ico/arr_03_g.png', '/assets/img/common/ico/arr_03_g.svg');
                }
            }

            span {}
        }

        div.accordion_body {
            padding: 10px 0;
        }
    }
}

.range_box {
    position: relative;
    margin: 20px 0;

    span {
        @include font($jp, 11px, 20pxpx, 0em, 500);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -22px;

        &.max {
            right: 0;
            left: auto;

        }
    }
}


section,.section {
    position: relative;
    z-index: 1;
    &.mt20 {
        margin-top: 20px;
    }

    &.mb20 {
        margin-bottom: 20px;
    }

    &.mb70 {
        margin-bottom: 70px;
    }

    &.shadow {
        @include shadow_sp;
        z-index: 0;
    }

    &.plr15 {
        padding: 0 15px;
    }



    div.inner_box {
        background-color: $white;
        padding: 20px 15px;
        &.orange{
            background:#FFF4DE;
            .inner_box{
                background:#FFF4DE;
                div.score div.score_left .score_box .score_cover:before{
                    background:#FFF4DE;
                }
                div.score div.score_left .score_box .score_cover:after{
                    background:#FFF4DE;
                }
            }
        }
        @include media(tbsp) {
            padding: 10px 15px;
        }
        .inner_box{
            @include media(tbsp) {
                padding: 0;
            }
        }
        &.full{
            padding-left: 0;
            padding-right: 0;
        }

        h2.box_ttl {}
        #access{
            padding:0 15px;
            box-sizing: border-box;
        }
    }

}

ul.sp_sort {
    display: block;
    overflow: hidden;
    border-top: 1px solid $border2;
    border-bottom: 1px solid $border2;
    box-sizing: border-box;
    background-color: #fff;

    li {
        width: 100%;
        float: left;
        text-align: center;
        box-sizing: border-box;
        position: relative;

        &:first-child {
            border-right: 1px solid $border2;
            border-bottom: 1px solid $border2;
        }

        &:last-child {
            a {
                text-indent: 0px;

                &:before {
                    left: auto;
                    right: 15px;
                    @include svg_img(20px, 20px, '/assets/img/common/ico/select.png', '/assets/img/common/ico/select.svg');
                }
            }
        }

        a {
            position: relative;
            z-index: 0;
            text-indent: 0px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                @include svg_img(20px, 20px, '/assets/img/common/ico/sort.png', '/assets/img/common/ico/sort.svg');
                margin-top: -10px;
                pointer-events: none;
            }

            span {
                @include font($jp, 14px, 56px, 0.14em, 500);
                color: $gray;
            }
        }

        form {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
            left: 0;

            div.select2 {
                overflow: hidden;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 1;
                text-align: center;
                position: relative;
                opacity: 0;

                select {
                    width: 100%;
                    height: 100%;

                    cursor: pointer;

                    text-overflow: ellipsis;
                    border: none;
                    outline: none;
                    background: transparent;
                    background-image: none;
                    box-shadow: none;
                    -webkit-appearance: none;
                    appearance: none;

                }
            }
        }
    }
}

.delete-text{
  font-size: 13px;
}

.tarms-link{
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    a{
        color:$blue2;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.loginor{
    width: 100%;
    border-top: 1px solid #BEBEBE;
    position: relative;
    margin:30px auto 30px;
    @include media(tbsp) {
      margin:35px auto;
    }
    p{
      background: #fff;
      color:#767676;
      font-size: 11px;
      padding:0 15px;
      position: absolute;
      top:0;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
.link_btn{
    width: 240px;
    line-height: 45px;
    margin: 0 auto;
    display: block;
    color: #fff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09);
    text-align: center;
}

ul.sns{
    width: 100%;
    font-size: 0;
    li{
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: middle;
        .btn.sns_btn.ico{
            height: 100%;
            width: 100%;
            background-size: cover;
            padding: 0;
            span{
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                padding-left: 0;
                &:before{
                    width: 34px;
                    height: 100%;
                    background-size: 24px 24px;
                }
            }
        }
    }
}

.nanbox{
    background: $gray3;
    text-align: center;
    padding:30px;
    box-sizing:border-box;
    @include media(tbsp){
        padding:20px;
    }
    .nan_img{
      width: auto;
      height: 36px;
      margin-bottom: 20px;
      img{
        width:auto;
        height: 100%;
      }
    }
    p{
      margin-top: 10px;
      margin-bottom: 15px;
      text-align: center;
    }
    &.nan_orner{
      h2.tit{
        line-height: 2.7em;
        color:$blue2;
      }
    }
    .btn.review_btn span{
        line-height: 38px;
      }
}
