@charset "utf-8";
$bp-pctb: 1200px;
$bp-tb: 960px;
$bp-tbsp: 680px;
$bp-sp: 360px;
@mixin media($media-width) {
    @if $media-width==sp {
        @media only screen and (max-width: $bp-sp) {
            @content;
        }
    }
    @else if $media-width==tbsp {
        @media only screen and (max-width: $bp-tbsp) {
            @content;
        }
    }
    @else if $media-width==tb {
        @media only screen and (max-width: $bp-tb) {
            @content;
        }
    }
    @else if $media-width==pctb {
        @media only screen and (max-width: $bp-pctb) {
            @content;
        }
    }
    @else if $media-width==pc {
        @media only screen and (min-width: $bp-tb) {
            @content;
        }
    }
}
/* @include media(pc) {}*/
/* @include media(pctb) {}*/
/* @include media(tb) {}*/
/* @include media(tbsp) {}*/
/* @include media(sp) {}*/
@mixin flex($parent:wrap , $child:space-between){
  	display:-webkit-flex;
  	display:-moz-flex;
  	display:-o-flex;
  	display:-ms-flex;
  	display:flex;
  	-moz-flex-flow:row $parent;
  	-webkit-flex-flow:row $parent;
  	-o-flex-flow:row $parent;
  	-ms-flex-flow:row $parent;
  	flex-flow:row $parent;
  	-webkit-justify-content:$child;
  	-o-justify-content:$child;
  	-ms-justify-content:$child;
  	-moz-justify-content:$child;
	  justify-content:$child;
}
@mixin trans($selector, $time) {
    transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -webkit-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -moz-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -o-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
    -ms-transition: $selector $time cubic-bezier(0.250, 0.100, 0.250, 1.000) 0ms;
}
/*@include trans(opacity, 1000ms);*/
@mixin delay($time) {
    transition-delay: $time;
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -ms-transition-delay: $time;
    -o-transition-delay: $time;
}
/*@include delay(1000ms);*/
@mixin shadow {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}
/*@include shadow;*/
@mixin shadow_l {
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
/*@include shadow_l;*/
@mixin shadow_m {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
}
/*@include shadow_m;*/
@mixin shadow_s {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
/*@include shadow_s;*/
@mixin shadow_s2 {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}
/*@include shadow_s2;*/
@mixin shadow_ss {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
/*@include shadow_ss;*/
@mixin shadow_sp {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
}
/*@include shadow_sp;*/
@mixin shadow_blue {
    box-shadow: 0px 5px 11px rgba(193,233,255,1);
    -webkit-box-shadow: 0px 5px 11px rgba(193,233,255,1);
    -moz-box-shadow: 0px 5px 11px rgba(193,233,255,1);
    -ms-box-shadow: 0px 5px 11px rgba(193,233,255,1);
    -o-box-shadow: 0px 5px 11px rgba(193,233,255,1);
}
/*@include shadow_blue;*/
@mixin text_shadow {
    text-shadow: 0px 0px 6px rgba(0,0,0,0.85);
    -webkit-text-shadow: 0px 0px 6px rgba(0,0,0,0.85);
    -ms-text-shadow: 0px 0px 6px rgba(0,0,0,0.85);
    -moz-text-shadow: 0px 0px 6px rgba(0,0,0,0.85);
    -o-text-shadow: 0px 0px 6px rgba(0,0,0,0.85);
}
/*@include text_shadow;*/
@mixin no_shadow {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}
/*@include no_shadow;*/
@mixin no_text_shadow {
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
}
/*@include no_text_shadow;*/
@mixin transform($x, $y) {
    transform: translate3d($x, $y, 0px);
    -webkit-transform: translate3d($x, $y, 0px);
    -moz-transform: translate3d($x, $y, 0px);
    -ms-transform: translate3d($x, $y, 0px);
    -o-transform: translate3d($x, $y, 0px);
}
/*@include transform(-50%,-50%);*/
@mixin transform_rotate($x, $y, $deg) {
    transform: translate3d($x, $y, 0px) rotate($deg);
    -webkit-transform: translate3d($x, $y, 0px) rotate($deg);
    -moz-transform: translate3d($x, $y, 0px) rotate($deg);
    -ms-transform: translate3d($x, $y, 0px) rotate($deg);
    -o-transform: translate3d($x, $y, 0px) rotate($deg);
}
/*@include transform_rotate(0%,0%,90deg);*/
@mixin origin($x, $y) {
    transform-origin: $x $y;
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
}
/*@include origin(left,top);*/
@mixin bg_cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*@include bg_cover;*/
@mixin svg_img($w, $h, $png, $svg) {
    width: $w;
    height: $h;
    background-image: url($png);
    background-image: url($svg);
    background-size: $w $h;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
/* @include svg_img(2rem,2rem,'/assets/img/common/icon.png','/assets/img/common/icon.svg');*/
@mixin img_ratio($pt) {
    padding-top: $pt;
    display: block;
    width: 100%;
}
/*@include img_ratio(66.66%);*/
@mixin flex {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    align-items: normal;
    -webkit-align-items: normal;
    -moz-align-items: normal;
    -ms-align-items: normal;
    -o-align-items: normal;
}
/*@include flex;*/
@mixin flex_m {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}
/*@include flex_m;*/
@mixin flex_r {
    flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
}
/*@include flex_r;*/
@mixin gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*@include gray;*/
@mixin visibility_visible($z-index) {
    z-index: $z-index;
    opacity: 1;
    visibility: visible;
}
/*@include visibility_visible(99999999999);*/
@mixin visibility_hiddden {
    z-index: 0;
    opacity: 0;
    visibility: hiddden;
}
/*@include visibility_hiddden();*/
@mixin font($ff:$jp_goth,$fz:1rem, $lh:2, $ls:0.01em, $wg:normal) {
    font-family: $ff;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
    font-weight: $wg;
}
/*@include font;*/
/*@include font($jp,1rem,2,0.01em,normal);*/
@mixin content_width {
    width: 90%;
    width: 1000px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    @include media(tb) {
        width: 100%;
        min-width: 0;
    }
}
/*@include content_width;*/
