@charset "utf-8";
html,
body {
    width: 100%;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}
body {
    background-color: #F2F2F2;
  &.ready {
    * {
      transition: none !important;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
    }
  }
}
input,
textarea,
button {
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    outline: 0 !important;
}
* {
    -webkit-tap-highlight-color: rgba(246, 246, 246, 0) !important;
    -webkit-font-feature-settings: 'palt' 1;
    font-feature-settings: 'palt' 1;
}
::selection {
    color: #333333;
    background: #eeeeee;
}
::-moz-selection {
    color: #333333;
    background: #eeeeee;
}
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p{
  font-size: 12px;
  @include media(tbsp) {
    font-size: 12px;
  }
}
span {
    -ms-transform: rotate(0.001deg);
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese');
$jp: 'Noto Sans JP',"游ゴシック Medium",
"Yu Gothic Medium",
"游ゴシック体",
YuGothic,
"游ゴシック",
"Yu Gothic",
'YuGothic',
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
Osaka,
'ＭＳ Ｐゴシック',
'MS PGothic',
"メイリオ",
"Meiryo",
sans-serif;
$white:#ffffff;
$black:#1C1C1C;
$gray:#767676;
$gray2:#a0a0a0;
$gray3:#F2F2F2;
$border:#BEBEBE;
$border2:#E2E2E2;
$blue:#53B4E8;
$blue2:#5C80B1;
$bluegray:#C3D2D9;
$pink:#FD4A82;
$red:#F40000;
/*-------------------------------------------------
    text color and size
-------------------------------------------------*/
body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address {
    color: $black;
    font-weight: normal;
    font-style: normal;
    font-family: $jp;
}
a {
    color: $black;
    text-decoration: none;
    &.text_tel_link {
        color: $black !important;
        cursor: default !important;
        display: inline !important;
        text-decoration: none !important;
    }
}
a:visited {
    color: $black;
    text-decoration: none;
}
a:hover {
    color: $black;
    text-decoration: none;
}
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
////////////////////////////////////////ScrollAction
div.sa_pic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    &.full {
        &:before {
            padding-top: 36%;
            @include media(tb) {
                padding-top: 40%;
            }
            @include media(tbsp) {
                padding-top: 46%;
            }
        }
    }
    &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 66.66%;
    }
    div.pic_wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0;
        div.pic {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate3d(0px, 0px, 0px);
        }
    }
}
.sa {
    &.ScrollAction {
        opacity: 0 !important;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -webkit-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -moz-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -o-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -ms-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        &.ScrollAction_on {
            opacity: 1 !important;
            transform: translate3d(0px, 0px, 0px) !important;
            -webkit-transform: translate3d(0px, 0px, 0px) !important;
            -moz-transform: translate3d(0px, 0px, 0px) !important;
            -ms-transform: translate3d(0px, 0px, 0px) !important;
            -o-transform: translate3d(0px, 0px, 0px) !important;
        }
    }
}
.sa_d {
    &.ScrollAction {
        opacity: 0 !important;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -webkit-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -moz-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -o-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -ms-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        &.ScrollAction_on {
            opacity: 1 !important;
            transform: translate3d(0px, 0px, 0px) !important;
            -webkit-transform: translate3d(0px, 0px, 0px) !important;
            -moz-transform: translate3d(0px, 0px, 0px) !important;
            -ms-transform: translate3d(0px, 0px, 0px) !important;
            -o-transform: translate3d(0px, 0px, 0px) !important;
            transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 500ms;
            -webkit-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 500ms;
            -moz-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 500ms;
            -o-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 500ms;
            -ms-transition: opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 500ms;
        }
    }
}
.sa2 {
    &.ScrollAction {
        opacity: 0 !important;
        transform: translate3d(0px, 50px, 0px);
        -webkit-transform: translate3d(0px, 50px, 0px);
        -moz-transform: translate3d(0px, 50px, 0px);
        -ms-transform: translate3d(0px, 50px, 0px);
        -o-transform: translate3d(0px, 50px, 0px);
        transition: transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -moz-transition: -moz-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -o-transition: -o-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -ms-transition: -ms-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        &.ScrollAction_on {
            opacity: 1 !important;
            transform: translate3d(0px, 0px, 0px) !important;
            -webkit-transform: translate3d(0px, 0px, 0px) !important;
            -moz-transform: translate3d(0px, 0px, 0px) !important;
            -ms-transform: translate3d(0px, 0px, 0px) !important;
            -o-transform: translate3d(0px, 0px, 0px) !important;
        }
    }
}
.sa_scale {
    &.ScrollAction {
        opacity: 0 !important;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -o-transform-origin: center center;
        -ms-transform-origin: center center;
        transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5);
        -webkit-transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5);
        -moz-transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5);
        -ms-transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5);
        -o-transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5);
        transition: transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -moz-transition: -moz-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -o-transition: -o-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        -ms-transition: -ms-transform 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms, opacity 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0ms;
        &.ScrollAction_on {
            opacity: 1 !important;
            transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
            -webkit-transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
            -moz-transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
            -ms-transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
            -o-transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
        }
    }
}

h2.box_ttl{
    font-weight: 700;
}
